* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}


.header {
    display: grid;
    grid-template-columns: minmax(auto, auto) minmax(auto, auto);
    grid-template-rows: 4rem;
    background: rgb(236, 235, 235);

}

@media only screen and (max-width:600px) {
    body {
        .header {
            display: flex;
            flex-direction: column;
            padding: 0;


        }

        header {
            padding: 4%;
        }

        header h1 {
            margin: 0 0 0 8%;
        }

        nav {
            border-top: 1px solid gray;
        }

        nav li {
            margin: 0;
        }


    }
}



header {
    /* border:1px solid blue; */
    display: flex;
    align-items: center;


}

header h1 {
    font-size: 18px;
    margin: 0 0 0 10%;
    font-family: monospace;
}


/* nav{
    border:1px solid blue;
} */

nav ul {
    display: flex;
    list-style-type: none;
    align-content: center;
    /* border:1px solid green; */
}

nav li {
    flex: auto;
    padding: 1%;
    margin: 0 0 0 8%;
    font-family: monospace;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    opacity: 50%;
}


main {
    display: grid;
    grid-template-areas:
        'section1 img  img '
        'section2 aside  aside';
    grid-template-columns: repeat(auto-fit, minmax(auto, auto));
    grid-template-rows: 20rem 60rem 1fr;
    gap: 7rem 3%;
    margin: 5rem 2% 0 2%;

}


@media only screen and (max-width:600px) {
    body {


        main {
            display: flex;
            flex-direction: column;


        }



        .imgSect img {
            width: 90%;
            height: 100%;
        }
    }
}

/* 
.section1, .section2, .imgSect, aside{
    border:1px solid blue;
} */

.section1 {
    grid-area: section1;
    display: grid;
    align-content: center;
}

@media only screen and (max-width:600px) {
    body {



        .section1 h2 {
            font-size: 28px;
        }

        .section1 p {
            font-size: 16px;
            margin: 10% 5% 0 5%;
        }
    }
}

.section1 h2 {
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0 0 0 5%;
    color: rgb(9, 9, 200);
}

.section1 p {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5% 15% 0 5%;
    color: rgb(106, 168, 199);
}

.imgSect {
    grid-area: img;
    display: grid;
    place-items: center center;
}

.imgSect img {
    width: 90%;
    height: 80%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), 0px 6px 20px rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
}

.section2 {
    grid-area: section2;

}

@media only screen and (max-width:600px) {
    body {
        .section2 {
            margin-top: 8rem;
        }
    }
}

.section2 h3 {
    margin: 10% 0 0 10%;
}

.projetosSect {


    display: grid;
    grid-template-columns: repeat(2, 12rem);
    grid-template-rows: repeat(2, 20rem);
    place-content: center center;
    gap: 5rem 10%;
    margin: 5rem 5% 0 5%;
}


@media only screen and (max-width:600px) {
    body {
        .projetosSect {
            /* border:1px solid green; */
            display: grid;
            grid-template-columns: repeat(2, 9rem);
            grid-template-rows: repeat(2, 15rem);
            gap: 2rem 5%;

        }

        .projetosSect a {
            padding: 10rem -10rem 10rem -10rem;
        }


    }
}

.projetosSect a {

    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), 0px 6px 20px rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    color: black;
}

.projetosSect a:hover {
    background: rgba(219, 218, 218, 0.595);
    color: rgb(0, 51, 255);
}

.section2 h3 {
    grid-area: h3;
}

.LinkProjetos {
    display: inline-block;
    padding: 3%;
    background: rgb(158, 192, 246);
    color: rgb(52, 48, 48);
    margin: 10% 0 0 5%;
    text-decoration: none;

}


@media only screen and (min-width:1280px) {
    body {
        .LinkProjetos {
            padding: 1%;
            border: 1px solid black;
        }
    }
}



.sectCalc {
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
    padding: 2rem 0 2rem 0;

}

@media only screen and (min-width:1280px) {
    body {
        .calculadora {
            grid-area: calculadora;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 5rem 10rem 5rem;
            background: rgba(161, 161, 161, 0.391);
            border-radius: 1rem;

        }

        .calculadora input {

            padding: 10% 4rem 10% 4rem;
            font-size: 26px;
            background: rgba(161, 161, 161, 0);
            border: none;
            border-bottom: 1px solid rgba(149, 149, 149, 0.976);

        }


        .buttCalc {
            display: grid;
            grid-template-columns: repeat(4, 5rem);
            grid-template-rows: repeat(4, 5rem);
            justify-content: center;
            gap: 20% 10%;
            /* border:1px solid blue; */
            margin: 2rem 0 1rem 0;
            padding: 0 0 4rem 0;


        }

        .buttCalc button {
            font-size: 20px;
        }


    }
}

.calculadora {
    grid-area: calculadora;
    display: flex;
    flex-direction: column;
    padding: 0 1rem 1rem 1rem;
    background: rgba(161, 161, 161, 0.391);
    border-radius: 1rem;

}



.calculadora input {

    padding: 10% 0 10% 10%;
    margin-top: 10%;
    background: rgba(161, 161, 161, 0);
    border: none;
    border-bottom: 1px solid rgba(149, 149, 149, 0.976);

}



.buttCalc {
    display: grid;
    grid-template-columns: repeat(4, 2.4rem);
    grid-template-rows: repeat(4, 3rem);
    justify-content: center;
    gap: 10% 4%;
    /* border:1px solid blue; */
    margin: 2rem 0 1rem 0;
    padding: 0 0 4rem 0;

}

.buttCalc button {
    border: none;
    background: rgb(115, 151, 250);
    border-radius: 15%;
    color: rgb(255, 255, 255);
}



.sectList {
    /* border:1px solid black; */
    display: grid;
    justify-content: center;
}

@media only screen and (max-width:600px) {
    body {

        .sectList {
            margin-top: 20%;
        }

        .input-button2 input {

            padding: 8% 1rem 8% 5%;


        }

    }
}



.lista {
    grid-area: lista;
    padding-bottom: 5rem;




}

.input-button2 {
    display: flex;
    padding: 0 2.9rem 0 0rem;
    /* border:1px solid blue; */

}

.input-button2 input {

    padding: 8% 4rem 8% 5%;


}

.input-button2 button {
    border: none;
    background: rgb(0, 182, 18);
    padding: 8% 5% 8% 6%;
    color: white;
}

#list {
    list-style-type: none;



}

#list li {

    display: flex;
    align-items: center;
    padding: 0 0 0 1rem;
    margin: 0 0 3% -2.5rem;
    background: rgba(128, 128, 128, 0.136);
}



#list button {
    margin: 0 0 0 auto;
    padding: 5%;
    border: none;
    background: red;
    color: white;
}

.sectData {
    display: flex;
    justify-content: center;
    margin-top: 5rem;

}

.data {
    grid-area: data;

}

.data button {
    padding: 1rem;
}

.data p {
    font-size: 20px;
    margin-top: 5rem;
}

.sectBusca {
    display: flex;
    justify-content: center;
}

.busca {

    grid-area: busca;
    /* border: 1px solid black; */
    padding-bottom: 10rem;
    width: 29%;
}

@media only screen and (max-width:600px) {
    body {
        .busca {

            grid-area: busca;
            /* border: 1px solid black; */
            padding-bottom: 10rem;
            width: 90%;
            margin-top: 8rem;
        }

        .input-button input {
            width: 70%;
        }


    }
}

.input-button {
    display: flex;
    justify-content: center;
}

.input-button input {
    padding: 5% 7% 5% 5%;
}

.input-button button {
    padding: 5% 10% 5% 10%;
}

.busca p {
    margin: 10% 0 0 10%;
}



.section2 h3 {
    font-size: 22px;
    font-family: arial;
}

aside {
    grid-area: aside;

}

@media only screen and (max-width:600px) {
    body {

        aside {
            /* border:1px solid green; */
            margin-bottom: 10rem;
        }

        aside p {
            /* border:1px solid blue; */
            margin: 0 4rem 10% 0;
            font-size: 14px;
            hyphens: auto;


        }


    }
}

aside h3 {
    margin: 15% 0 0 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

aside ul {
    /* border:1px solid green; */
    display: grid;
    place-content: center center;
}

aside li {
    margin: 2rem 0 2rem 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-wrap: break-word;
    /* border:1px solid blue; */


}



footer {
    /* border:1px solid red;  */
    background: rgb(236, 235, 235);
    padding: 1%;

}



footer details {
    margin: 5% 0 20% 5%;
}

@media only screen and (max-width:600px) {
    body {

        footer {
            padding: 4%;
        }

        footer details p {
            margin: 3rem 6rem 0 0;
            hyphens: auto;

        }

        footer p {
            font-size: 12px;
        }
    }
}

footer summary {
    font-family: monospace;
}

footer details p {
    text-align: left;
    margin: 3rem 13cm 0 0;
}

footer p {
    text-align: Center;


}