*{
    box-sizing:border-box;
}

body{
    margin:0;
    
    
}

html{
    scroll-behavior:smooth;
}

header{
    margin:0;
    
    
}

header{
    display:flex;
    align-items:center;
    background:rgb(236, 235, 235);
    font-family:monospace;
}

header h1{
    margin-left:5%;
    font-size:18px;
    color:rgb(71, 71, 71);
    
}

nav{
    width:85%;
    margin-left:13%;
    
}

nav ul{
    display:flex;
    list-style-type:none;
    padding:0;
    margin-left:20%;
    /* border:1px solid blue; */

}

nav li{
    padding:10px;
    margin-left:8%;
   
}

nav li a{
    /* border:1px solid blue; */
    padding:10px;
    color:black;
    text-decoration:none;
}

nav li:hover{
    opacity:30%;
}



.section1{
    
    display:flex;
    background-image:linear-gradient(rgb(41, 40, 40), rgb(97, 97, 97));
    border:1px solid black;
   
    
}

.section1 img{
    width:60%;
    height:auto;
}

.visul1{
    width:50%;
    height:100%;
    margin-right:5%;
   
    
}

.section1 h2{

    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display:inline-block;
    margin:15% 0% 0% 15%;
    font-size:36px;
    color:white;
  
}

.Descr1{
    /* border:1px solid black; */
    margin:15% 0% 5% 15%;
    color:white;
    text-align:justify;
    width:80%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    
    

}


.Descr2{
   
    margin:15% 0% 0% 15%;
    width:60%;
    color:rgb(204, 204, 204);
    text-align:justify;
}

.section1 a{
    margin:15% 0% 5% 15%; 
    display:inline-block;
    background:rgb(117, 117, 117);
    text-decoration:none;
    padding:15px;
    color:white;
    
}

.section1 a:hover{
    background:white;
    color:rgb(126, 128, 126);
}






.section2{
   margin:10% 0% 10% 0%;
   padding-bottom:10%;
   background-image:linear-gradient(rgb(41, 40, 40), rgb(97, 97, 97));
   
  
   
   
}



.sobre{
    
    width:50%;
    
}

.sobre h3{
    margin:15% 0% 5% 10%;
    color:white;
    

}

.sobre p{
    text-align:justify;
    
    color:white;
    
   
}

.sobre .p-sobre{
    
    color:white;
}

.section2 p{
    
    margin:10% 10% 5% 10%;
}

.Habilidades{
    display:flex;
    background-image:linear-gradient(rgba(140, 205, 235, 0.712), rgba(106, 181, 211, 0.644));
    
    
    
    
}

.conteinerHLD{
    display:inline-block;
    margin:auto;
    
    height:60%;
    background:rgb(220, 236, 245);
    border-radius:12px;
    box-shadow:0px 4px 6px rgba(0,0,0,0.2), 0px 6px 20px rgba(0,0,0,0.19);
}

.conteinerHLD:hover{
 box-shadow:0px 4px 6px rgba(0,0,0,0.2), 0px 6px 20px rgba(0, 0, 0, 0.349);
}

.section2 img{
    width:40%;
    height:50%;
    margin:10% 5% 10% 5%;
    border-radius:12px;
    box-shadow:0px 4px 6px rgba(0,0,0,0.2), 0px 6px 20px rgba(0,0,0,0.19);
   
}

.section2 h2{
    display:inline-block;
    /* border:1px solid black; */
    margin:10% 0% 10% 10%;
    color:rgb(4, 1, 172);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Habilidades li{
    margin-bottom:10%;
    color:rgb(4, 1, 172);
    
    
}

.Habilidades li p{
    margin-left:0;
    color:rgb(15, 82, 82);
    border-bottom:1px solid rgb(4, 1, 172);
    padding:10px;

}








footer{
    margin-top:10rem;
    
    background:black;
    padding:40px;
}

details{
   
    
    /* border:1px solid white; */
    width:60%;
    
    
    
}

summary{
    padding:5%; 
    color:rgb(112, 109, 109);
}

details h4{
    color:white;
    
}

details a{
    color:white;
    text-decoration:underline;
}

details a:hover{
    color:rgb(170, 169, 169);
}

.redeSC{
    background:rgba(43, 43, 43, 0.473);
    width:100%;
    padding:2% 10% 2% 0%;
   
}




footer figure{
    display:flex;
    align-items:center;
    /* border:1px solid white; */
    width:100%;
    margin:10% 0% 15% 10%;
    
}

footer figcaption{
 margin-left:5%;
 color:white;
 font-family:monospace;
 
 /* border:1px solid red; */
  
 

  
}

footer img{
    width:8%;
    height:8%;
    
    
}


.email{
    background:white;
    border-radius:100%;
    padding:1px;
}

.github{
    background:white;
    border-radius:100%;
}

footer p{
    color:white;
    text-align:center;
    margin-top:10%;
    margin-bottom:0;
}




@media only screen and (max-width:570px){
    body{
        header{
            border:1px solid blue;
        }

        nav{
            margin-right:30%;
        }
    }
}







