* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.cab {
    display: grid;
    grid-template-columns: minmax(auto, 35rem) minmax(30rem, 1%);
    border: 1px solid pink;
    background: rgb(236, 234, 234);

}

@media only screen and (min-width:1280px) {
    body {
        .cab {
            /* border: 1px solid red; */
            display: grid;
            grid-template-columns: minmax(auto, 42.5rem) minmax(auto, auto);
        }

        /* nav {
            border: 1px solid black;
        } */
    }
}

@media only screen and (max-width:600px) {
    body {
        .cab {
            /* border: 1px solid blue; */
            display: flex;
            flex-direction: column;
        }

        header h1 {
            padding: 0 0 0 10%;
        }

        nav {
            border-top: 1px solid gray;
        }
    }
}



header {
    display: flex;
    align-items: center;
    /* border: 1px solid blue; */


}

header h1 {
    flex: auto;
    font-family: monospace;
    padding: 0 0 0 10%;
    font-size: 18px;
}



nav ul {

    /* border:1px solid red; */
    display: flex;
    list-style-type: none;
    text-align: center;
    padding: 0;



}


nav li {

    flex: auto;
    margin: 0 auto 0 auto;
    /* border:1px solid green; */
    padding: 1%;


}

nav a {
    color: black;
    text-decoration: none;
    font-family: monospace;

}

nav li:hover {
    opacity: 50%;

}

main {
    display: grid;
    grid-template-areas:
        'section1 section1 img1 img1 '
        'img2 img2  section2 section2 '
        'aside aside aside aside ';
    grid-template-columns: repeat(auto-fit, minmax(auto, auto));
    grid-template-rows: 25rem repeat(2, 40rem);
}

@media only screen and (max-width:600px) {
    body {
        main {
            display: flex;
            flex-direction: column;
            /* border: 1px solid red; */
        }


    }
}

/* .section1, .section2, aside, .img1, .img2 {
    border: 1px solid yellow;
} */




.section1 {
    grid-area: section1;
    background-image: linear-gradient(rgb(74, 74, 74), gray);
    display: grid;
    align-content: center;
    /* border: 1px solid blue; */

}

@media only screen and (max-width:600px) {
    body {

        .section1 {
            padding: 2rem 0 5rem 0;
        }

        .section1 h2 {
            font-size: 28px;
        }

        .section1 p {
            font-size: 16px;
            margin: 0 2rem 0 10%;
            hyphens: auto;
        }
    }
}



.section1 h2 {
    color: white;
    font-size: 30px;
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 0 0 0 10%;
}

.section1 p {
    display: inline-block;
    
    padding: 0;
    font-size: 20px;
    color: rgb(226, 226, 226);
    /* border: 1px solid green; */
    font-family: Arial, Helvetica, sans-serif;
    margin: 2rem 10rem 0 10%;
}

.section1 a {
    display: inline-block;
    border: 1px solid black;
    margin: 0 75% 0 10%;
    text-decoration: none;
    background: gray;
    padding: 2%;
    color: white;
}

.section1 a:hover {
    opacity: 50%;
}


.img1 {

    /* border: 1px solid blue; */
    grid-area: img1;

}

.img1 img {
    height: 100%;
    width: 100%;
}



.img2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    grid-area: img2;
    background: rgba(128, 128, 128, 0.23);

}


@media only screen and (max-width:600px) {
    body {


        .img2 {
            padding: 5rem 0 5rem 0;

        }

        .img2 img {
            width: 80%;
            height: 50%;
        }
    }
}

.img2 img {
    height: 80%;
    width: 80%;
    border-radius: 1rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2), 0px 6px 20px rgba(0, 0, 0, 0.19);
}


.section2 {
    display: grid;
    place-content: center center;
    margin-top: 10rem;
    background: rgba(128, 128, 128, 0.23);
    grid-area: section2;
}



@media only screen and (max-width:600px) {
    body {

        .section2 {
            margin-top: 0;
            padding: 0 0 5rem 0;
        }

        .section2 h2 {
            margin: 0 0 0 10%;
        }

        .section2 ul li {
            margin: 0 0 0 5%;
        }

    }
}

.section2 h2 {
    margin: 20% 0 5% 5%;
    color: rgb(13, 22, 118);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.section2 ul li {
    margin: 0 0 20% 0;
    color: rgb(69, 91, 106);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



aside {
    display: grid;
    align-content: center;
    margin-top: 10rem;
    grid-area: aside;
    margin-bottom: 10rem;
    background: rgba(32, 32, 32, 0.791);

}

@media only screen and (max-width:600px) {
    body {
        aside {
            padding: 2rem 0 3rem 0;
        }

        aside h3 {
            margin-top: 5%;
        }

        aside p {
            margin: 10% 5% 0 5%;
            hyphens: auto;
            font-size: 14px;
            /* border: 1px solid blue; */
        }
    }
}

aside h3 {
    margin: 0 0 0 5%;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

aside p {
    color: white;
    margin: 5% 30% 0 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}





footer {
    padding: 5% 0 2% 0;
    /* border: 1px solid black; */
    background: rgb(236, 234, 234);
}

@media only screen and (max-width:600px) {
    body {
        footer p {
            font-size: 12px;
        }




        footer details img {
            width: 8%;
            height: 8%;
            margin: 0 2% 0 0;
        }

        footer li {
            display: flex;
            align-items: center;
            margin: 15% 0 10% -2rem;
        }


    }
}

footer details {
    margin: 0 0 15% 5%;
}

footer summary,
li {
    margin: 0 0 5% 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

footer li {
    display: flex;
    align-items: center;
    margin: 0 0 5% 0;
}

footer details img {
    width: 3%;
    height: 3%;
    margin: 0 2% 0 0;
}



footer p {
    text-align: center;
}